* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(66, 20, 178);
    font-family: sans-serif;
    transition: all 1.5s ease;
}


.logo {
    width: 18vh;
}

nav {
    display: flex;

    padding-right: 1rem;

    align-items: center;

    justify-content: space-between;

    padding-left: 1rem;
    height: 9vh;
    color: white;
}

nav img {
    width: 180px;
}

.navIcons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navIcons span {
    font-size: 28px;
}

.navRight {
    width: 27%;
    display: flex;
    justify-content: space-between;


}

.navProfile {
    display: flex;
    align-items: center;
    gap: 5%;

    width: 31vh;
    background-color: rgb(76, 48, 187);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
    padding: 0.4rem;
    border-radius: 0.2rem;

    cursor: pointer;
    border: none;
    color: white;
    text-align: left;
}

.navProfile span {
    font-size: 18px;


}

.navProfile_Left {

    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoutDropdown {}

.logoutDiv {
    background-color: rgb(89, 55, 221);
    color: white;
    border: none;
    text-align: left;
    z-index: 2;

    top: 7.6%;
    left: 81.29%;
    height: 5%;
    width: 17.52%;
    padding: 0.5rem;
    font-size: 14px;
    cursor: pointer;
    display: none;
    position: absolute;

}

.logoutDropdown:focus-within .logoutDiv {
    display: block;

}

.logoutDiv:hover {
    background-color: rgb(127, 102, 230);
}



.profileDiv {

    height: 25%;
    width: 25%;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profileDiv {
    width: 100%;
    border-radius: 10%;
}

.profileTexts {

    width: 100%;
}

.profileTexts p {
    font-size: 12px;

    width: 100%;


}

#profileEmail {
    font-size: 70%;
    color: rgba(255, 255, 255, 0.598)
}

.logoutt{
    display: none;
}




.alphaBody {
    width: 100%;
    height: 91vh;
    display: flex;
    gap: 3vh;
}

.left {
    transition: all 1.5s ease;
    height: 100%;
    width: 15%;
    border-top-right-radius: 0.5rem;
    transition: all 3s ease;
    background-image: linear-gradient(rgba(118, 62, 207, 0.724), rgba(76, 41, 180, 0));

    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);


}

.leftContent {
    width: 100%;

    margin-top: 2rem;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20vh;

}

.leftTexts {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
    font-size: 14px;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.889);
    width: 85%;
    border-radius: 0.2rem;
    height: 5vh;
    padding-left: 1rem;


}

.leftTexts:hover {
    background-image: linear-gradient(to right, rgba(192, 47, 254, 0), rgba(110, 74, 255, 0.659));
    cursor: pointer;
    scale: 1.05;

}

.leftTexts span {
    font-size: 28px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' 0,
        'opsz' 20
}

.leftTop {}

.middle {


    width: 53.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}


#dashboardDisplay {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vh;

}

#transfersDisplay {
    height: 94.5%;
    background-color: rgb(76, 48, 187);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);

    border-radius: 0.5rem;
    transition: all 3s ease;
}

.transferContent {
    width: 90%;
    height: 90%;

    color: white;
    margin: auto;
    h3{
        font-size: 2vw;
    }
  
}

.transferAcc {
    height: 20%;
    width: 80%;
    margin: auto;
    background-color: rgba(65, 20, 178, 0.569);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
    margin-top: 1rem;
    border-radius: 0.2rem 0.2rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h6{
        font-size: 1vw;
    }
    h2{
        font-size: 2vw ;
    };
   

}

.transferForm {
    height: 75%;
    width: 80%;
    margin: auto;
    background-color: rgba(65, 20, 178, 0.569);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
    border-radius: 0.3rem;
    display: flex;
}

.transferFormContent {
    height: 90%;
    width: 78%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.transferFormContent select {
    width: 103.7%;

    background-color: rgba(140, 115, 239, 0.304);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
    height: 12%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    color: white;
    padding-right: 0.8rem;
    margin-bottom: 1rem;
}

.transferFormContent input {
    width: 100%;
    margin-bottom: 5%;
    background-color: rgba(140, 115, 239, 0.304);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
    height: 12%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    color: white;
    padding-left: 1rem;
}

#Beneficiary {
    margin-bottom: 1rem;

}

#transferBtn {
    width: 50%;
}

.middleTop {
    background-color: rgb(76, 48, 187);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
    height: 52%;
    margin-bottom: 0.9rem;
    border-radius: 0.5rem;
    transition: all 1.5s ease;

}

.balanceDiv {
    margin-bottom: 4rem;
    color: white;
    width: 95%;
    height: 32%;
    margin: auto;
    margin-top: 1rem;



}

.balanceSummary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0rem;



}

.balanceBottom {


    width: 100%;

    margin: auto;

}

.balanceBottom p {

    font-size: 12px;
    color: rgba(255, 255, 255, 0.428);
}

.acctDetails {

    height: 90%;
    width: 100%;
    display: flex;
    margin-top: 4%;
    gap: 10%;

    h2{
        font-weight: 400;
        font-size: 1.8vw ;
    }
}

.rightDetails {

   

    height: 3vh;
    width: 66%;
    display: flex;
    gap: 6vh;
    align-items: center;
}

.dashboard_ProfilePic {
    background-color: rgba(98, 0, 255, 0.62);
    height: 18vh;
    width: 19%;
    margin-top: -1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    overflow: hidden;
    /* add this to prevent image from overflowing */
}

.dashboard_ProfilePic img {
    object-fit: cover;
    /* scale the image to cover the entire container */
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

#accountNumber {
    width: 75%;

    overflow: hidden;
    text-overflow: ellipsis;
}
#accountNumber:hover{
color: rgba(198, 177, 225, 0.741);
    text-overflow: unset;
    overflow: unset;
}


.analytics{

    width: 100%;
    height: 11vw;
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Earnings_div{
   
    padding-top: 1vw;
    padding-left: 1vw;
    height: 8vw;
    width: 17vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    border-right: 1px solid rgba(255, 255, 255, 0.213);


}
.iconDiv{
   
    width: 2.5vw;
    height: 2.5vw; 
display: flex;
align-items: center;
justify-content: center;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.276);

    span{
        font-size: 1.5vw;
     
    }
}


.earnings{
    display: flex;
    align-items: center;
    gap: 7vw;
    margin-top: 0.4vw;
    h3{
        font-weight: 400;
        font-size: 1.3vw;
    }
}
#last_earnings{
border: none;
  
}
#payments{
    color: rgb(207, 255, 87);
}
#wallet{
    color: rgb(255, 181, 62);
}















.charts {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;


    width: 100%;
    margin-top: 4%;

}

.chartContainer {
    display: flex;
    justify-content: space-around;
    gap: 30%;
    align-items: center;
    background-color: rgb(65, 20, 178);
    height: 13%;
    margin: auto;
    width: 45%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.178);

    border-top-style: 0.5rem;
}

.chartContainerLeft {
    width: 18%;



}



@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.pie {
    --p: 10;
    --b: 6px;
    --c: rgb(73, 214, 210);
    --w: 50px;

    width: 50px;
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 12px;
    color: rgba(223, 221, 221, 0.673);
    font-weight: bold;
    border-radius: 2rem;
    background-color: rgba(65, 20, 178, 0.24);




    font-family: sans-serif;

}

.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;

}

.pie:before {

    inset: 0;
    background:
        radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%), #a9a9a95d 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {

    inset: calc(50% - var(--b)/2);

    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
    animation: p 1s .5s both;
}

.no-round:before {

    background-size: 0 0, auto;
}

.no-round:after {
    content: none;
}

@keyframes p {
    from {
        --p: 0
    }
}






.middleBottom {

    height: 40%;
    margin-top: -1.7rem;
    display: flex;
    gap: 2vh;

}

.middleBottoms {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    background-image: linear-gradient(rgb(76, 48, 187), rgba(76, 41, 180, 0));
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
    border-radius: 0.5rem;
    transition: all 1.5s ease;

}

.middleBottomsContent {

    height: 85%;
    width: 85%;
}

.midbtm2content {
    height: 90%;
    width: 90%;





}

.midbtm2_Airtime {

    height: 100%;
}

.midbtm2_Deposit {

    height: 80%;
    width: 100%;
    margin: auto;
    margin-top: 1.2rem;

    color: white;

}

.midbtm2_Deposit h4 {
    margin-bottom: 2.5rem;
}

.midbtm2_Deposit input {
    width: 70%;
    margin: auto;
    margin-top: 0.5rem;
    background-color: rgba(140, 115, 239, 0.304);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    color: white;
    padding-left: 0.3rem;
    margin-bottom: 1rem;
}



#start-payment-button {
    cursor: pointer;
    height: 2rem;
    width: 50%;
    margin: auto;
    background-image: linear-gradient(to right, rgba(178, 54, 203, 0.882), rgba(96, 14, 219, 0.905));
    color: white;

    border: none;
    border-radius: 0.3rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
}

.networkLogos {
    margin-bottom: 1rem;
    height: 30%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;


}

.selectForm {

    height: 70%;
    width: 75%;
    margin: auto;
}

.selectNetwork {
    width: 101.5%;
    margin: auto;
    background-color: rgba(140, 115, 239, 0.304);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
    height: 19%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    color: white;
    padding-right: 0.8rem;
    margin-bottom: 1rem;
}

#airtimeAmount {
    width: 100%;
    margin: auto;
    background-color: rgba(140, 115, 239, 0.304);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
    height: 19%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    color: white;
    margin-bottom: 1rem;
    padding-left: 0.3rem;

}

#phoneNumberInput {
    width: 100%;
    margin: auto;
    background-color: rgba(140, 115, 239, 0.304);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
    height: 19%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    color: white;
    padding-left: 0.3rem;
    margin-bottom: 1rem;
}

.proceed {
    height: 12%;
    width: 30%;
    margin: auto;
    background-image: linear-gradient(to right, rgba(178, 54, 203, 0.882), rgba(96, 14, 219, 0.905));
    color: white;

    border: none;
    border-radius: 0.3rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    font-size: 50%;


}

.proceed:hover {
    background-image: linear-gradient(to right, rgba(96, 14, 219, 0.905), rgba(178, 54, 203, 0.882));
    transition: 3s all linear;

    cursor: pointer;
}

.airtel {
    width: 40px;
}

.mtn {
    width: 120px;
}

.glo {
    width: 120px;
}

.mobile9 {
    width: 40px;
}


.category {

    width: 100%;
    height: 5vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    gap: 26vh;
}

.categories {
    width: 100%;
    height: 80%;
    margin-top: 3%;
    display: flex;
    gap: 19px;
    flex-wrap: wrap;
}

.categoryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 4.3vw;
    font-size: 13px;
    height: 6vw;

}

.categoryItem span {
    background-image:
        linear-gradient(to top, rgba(225, 225, 225, 0.044),
            rgba(44, 43, 46, 0));

    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
    font-size: 2.3vw;
    color: white;
    border-radius: 0.2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all linear;
}

.categoryItem span:hover {
    background-color: rgba(119, 89, 239, 0.519);
    cursor: pointer;
    scale: 1.1;

}

.categoryItem p {
    color: white;
}

.transactPin {

    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
    width: 25%;
    height: 35%;
    background-color: rgba(76, 48, 187, 0.747);
    position: absolute;
    left: 30%;
    top: 30%;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    text-align: center;
    display: none;

    h4 {
        color: white;
    }


}

.transactPinContent {
    width: 80%;
    height: 90%;
    margin-top: 3rem;



}

.pin-code {
    padding: 0;
    margin: 0 auto;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 1.6rem;
    gap: 18px;
    justify-content: center;

}

.pin-code input {
    border: none;
    text-align: center;
    width: 48px;
    height: 48px;
    font-size: 36px;
    background-color: #F3F3F3;
    margin-right: 5px;
    border-radius: 0.5rem;
}



.pin-code input:focus {
    border: 1px solid #573D8B;
    outline: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.right {
    height: 94.5%;
    background-image: linear-gradient(rgb(75, 48, 186), rgba(76, 41, 180, 0));
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
    width: 27%;
    border-radius: 0.5rem;
    transition: all 3s ease;

}

.rightContent {

    height: 100%;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}

.rightTop {

    height: 35%;
}

.card {
    height: 78%;
    width: 100%;
    margin-top: 1rem;
    background-image: url('images/cardpic.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;

}

.cardContent {

    height: 90%;
    width: 90%;
    margin: auto;
}

.cardTop {
    display: flex;
    justify-content: space-between;

    align-items: center;

}

.chip {
    width: 40px;
}

.visa {
    width: 48px;
    height: 18px;
}

.cardMiddle {

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    margin-top: 2.5rem;
    word-spacing: 25px;
}

.cardBottom {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 1rem;
}

.cardBottoms p {
    font-size: 10px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.421);

}


.rightBottom {
    overflow-y: scroll;
    height: 60%;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

.transactionCard {


    height: 13%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.073);

    color: white;
    transition: 0.4s all linear;

}

.transactionCard:hover {
    background-color: rgba(104, 76, 217, 0.873);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
}

.transactionCardLeft {

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;


    gap: 8px;

}

.transactionType {

    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    border-radius: 0.5rem;

}

.transactionType img {
    width: 100%;

}

.transactionText {

    width: 100%;


    line-height: 20px;
}

.transactionText p {

    font-size: 13px;
    color: rgba(255, 255, 255, 0.421);
}

.transactionCardRight {
    margin-right: 3%;
    display: flex;
}

.transactionCardRight p {
    /* color: rgb(8, 244, 8);
    color: rgb(196, 195, 195); */
}



#receiptPop {
    display: none;
    background-color: rgb(76, 48, 187);
    height: 70vh;
    width: 50vh;
    position: absolute;
    bottom: 5%;
    right: 150%;
    border-radius: 0rem;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
    padding-top: 1.5rem;

}

#closeReceipt {
    position: relative;
    left: 88%;
    bottom: 2%;
    cursor: pointer;
    color: white;
    font-size: 19px;
}

#closeReceipt .receipt_content {

    height: 90%;
    width: 85%;
    margin: auto;

    h2 {
        text-align: center;
    }
}

.receipt_logo {

    width: 50%;
    margin: auto;
    text-align: center;

}

.receipt_logo img {
    width: 10vh;
}

.transaction_details {

    height: 10vh;
    width: 90%;

    margin: auto;
    margin-top: 1rem;
}

.detail {
    border-bottom: 1px solid rgba(206, 206, 206, 0.223);

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100%;

    h5 {
        font-size: 12px;
        color: rgb(219, 246, 46);


    }

    p {
        color: rgb(170, 225, 244);
        font-size: 12px;
        display: flex;
        text-align: start;


    }
}

#print {
    margin-top: 2rem;
    background-color: rgb(69, 93, 249);
    color: rgb(248, 248, 248);
    border: none;
    width: 6vh;
    height: 2vh;
    border-radius: 0.2rem;
}



.mobileBottoms {
    display: none;
}

#mobile_middleBottoms {
    display: none;

}

.mobile_middleBottomsContent {
    display: none;
}

/* .mobile_categories{
    display: none;
}
.mobile_category{
    display: none;
}
.mobile_categoryItem{
    display: none;
}
.mobileCategoryItem span{
    display: none;
}
.mobileCategoryItem p{
    display: none;
}
.mobile_middleBottomsContent{
    display: none;
}
 */




#rightBottom2 {
    display: none;
}


.historyy {
    display: none;
}




@media only screen and (min-width: 1200px) {
    /* styles here will be applied when the screen width is 1200px or larger */
}











@media only screen and (max-width: 967px) {
    body {
        height: 100%;
        width: 100%;

        overflow-x: hidden;


    }

    nav {
        width: 85%;

        .logo {
            width: 11vh;
        }
    }

    .navRight {
        display: none;
    }
    .logoutt{
        display: block;
        margin-right: -2rem;
    }

    .alphaBody {

        width: 98%;
        gap: 0.6vh;
    }

    .left {
        height: 90.9vh;
        padding-left: 0.5rem;
        padding-right: 1.9rem;

        width: 10%;
    }

    .leftTexts {

        height: 2vh;
        width: 6.5vh;
        padding-right: 0.7rem;
        gap: 2px;
        margin-left: -1.2rem;
        margin-bottom: 0.8rem;
    }

    .leftTexts:hover {
        background-image: linear-gradient(to right, rgba(192, 47, 254, 0), rgba(110, 74, 255, 0.659));
        cursor: pointer;
        scale: 1.05;

    }

    .leftTexts p {

        font-size: 6px;


    }

    .leftTexts span {
        font-size: 16px;
    }

    .leftContent {
        gap: 45vh;
    }

    .leftTop {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    .middle {

        width: 100%;

        height: auto;

    }

    .middleTop {
        margin-bottom: 0.1rem;
        height: 55%;
    }

    .balanceDiv {
        h2 {
            font-size: 11px;
        }

        p {
            font-size: 5px;
        }
    }

    .balanceSummary {
        margin-bottom: 1.5rem;

        h4 {
            font-size: 8px;
        }
    }

    .acctDetails {


        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: 0vw;
           
        }

    }

    .dashboard_ProfilePic {
        width: 13vh;
        height: auto;
        margin-bottom: 0.5rem;

    }

    .rightDetails {
        gap: 4vh;

        margin: auto;
        width: auto;
        margin-bottom: 0rem;

    }

    .pie {
        width: 22px;
        --p: 10;
        --b: 4px;
        --c: rgb(73, 214, 210);
        --w: 22px;

        font-size: 5px;
    }

    .charts {

        gap: 1.9%;
    }

    .chartContainer {
        height: 3vh;
        width: 16.5vh;
    }

    .chartContainerLeft {

        h4 {
            font-size: 8px;
        }
    }

    #middleBottoms {
        display: none;
    }

    #middleBottoms2 {}

    .middleBottoms {

        width: 100%;
    }

    .right {
        display: none;
    }


    .mobileBottoms {
        display: block;

        width: 100%;
        height: 13vh;
        margin-top: 0.3rem;

    }

    #mobile_middleBottoms {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;

        margin-top: 0.2rem;
        width: 100%;
        height: 12vh;

    }


    .mobile_middleBottomsContent {
        display: block;
        height: 90%;
        width: 90%;


        h4 {
            font-size: 6px;
        }
    }

    .mobile_category {
        margin-top: 0.6rem;
        margin-left: -0.3rem;
        margin-bottom: 0.2rem;

        h4 {
            font-size: 9px;
        }
    }

    .mobileCategoryItem {
        p {
            text-align: center;
            margin-top: 0.4rem;


        }
    }

    .mobileCategoryItem span {
        font-size: 25px;

    }

    .mobile_categories {
        width: 100%;

        padding-right: 0rem;
        margin-left: -0.4rem;
        margin-top: 0.4rem;



        display: flex;
        height: auto;

        line-height: 2px;
        gap: 2.4vh;


        flex-wrap: wrap;
    }
    

    .historyy {

        display: flex;
        flex-direction: column;
        gap: 2vh;

        margin: auto;
        height: 100%;

        overflow: hidden;


        h4 {
            color: white;
            font-size: 13px;
        }
    }

    #rightBottom2 {
        display: block;
        height: 100%;

    }

    .transactionCard {

        margin-bottom: 0.3rem;
        height: 5vh;

        font-size: 12px;

    }

    .transactionCardLeft {
        gap: 1vh;
    }

    .transactionText {
        text-align: start;


    }






}









@media only screen and (max-width: 371px) {
    body {
      height: 100%;
      width: 100%;
      overflow-x: hidden;
    }
  
    nav {
      width: 80%;
      .logo {
        width: 8vh;
      }
    }
  
    .navRight {
      display: none;
    }
    .logoutt{
      display: block;
      margin-right: -1.5rem;
    }
  
    .alphaBody {
      width: 95%;
      gap: 0.4vh;
    }
  
    .left {
      height: 90vh;
      padding-left: 0.3rem;
      padding-right: 1.2rem;
      width: 8%;
    }
  
    .leftTexts {
      height: 1.8vh;
      width: 5vh;
      padding-right: 0.5rem;
      gap: 1px;
      margin-left: -1rem;
      margin-bottom: 0.6rem;
    }
  
    .leftTexts:hover {
      background-image: linear-gradient(to right, rgba(192, 47, 254, 0), rgba(110, 74, 255, 0.659));
      cursor: pointer;
      scale: 1.05;
    }
  
    .leftTexts p {
      font-size: 5px;
    }
  
    .leftTexts span {
      font-size: 12px;
    }
  
    .leftContent {
      gap: 30vh;
    }
  
    .leftTop {
      display: flex;
      flex-direction: column;
      gap: 0.8vh;
    }
  
    .middle {
      width: 100%;
      height: auto;
    }
  
    .middleTop {
      margin-bottom: 0.1rem;
      height: 50%;
    }
  
    .balanceDiv {
      h2 {
        font-size: 9px;
      }
      p {
        font-size: 4px;
      }
    }
  
    .balanceSummary {
      margin-bottom: 1rem;
      h4 {
        font-size: 6px;
      }
    }
  
    .acctDetails {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2{
  
        font-size: 2.8vw;
      }
    }
  
    .dashboard_ProfilePic {
      width: 10vh;
      height: auto;
      margin-bottom: 0.3rem;
    }
  
    .rightDetails {
      gap: 3vh;
      margin: auto;
      width: auto;
      margin-bottom: 0rem;
    }
  
    .pie {
      width: 18px;
      --p: 8;
      --b: 3px;
      --c: rgb(73, 214, 210);
      --w: 18px;
      font-size: 4px;
    }
  
    .charts {
      gap: 1.5%;
    }
  
    .chartContainer {
      height: 2.5vh;
      width: 13vh;
    }
  
    .chartContainerLeft {
      h4 {
        font-size: 6px;
      }
    }
  
    #middleBottoms {
      display: none;
    }
  
    #middleBottoms2 {}
  
    .middleBottoms {
      width: 100%;
    }
  
    .right {
      display: none;
    }
  
    .mobileBottoms {
      display: block;
      width: 100%;
      height: 11vh;
      margin-top: 0.2rem;
    }
  
    #mobile_middleBottoms {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      margin-top: 0.1rem;
      width: 100%;
      height: 10vh;
    }
  
    .mobile_middleBottomsContent {
      display: block;
      height: 90%;
      width: 90%;
      h4 {
        font-size: 5px;
      }
    }
  
    .mobile_category {
      margin-top: 0.4rem;
      margin-left: -0.2rem;
      margin-bottom: 0.1rem;
      h4 {
        font-size: 7px;
      }
    }
  
    .mobileCategoryItem {
      p {
        text-align: center;
        margin-top: 0.3rem;
      }
     
    }
  
    .mobileCategoryItem span {
      font-size: 6vw;

    }
  
    .mobile_categories {
      width: 100%;
      padding-right: 0rem;
      margin-left: -0.3rem;
      margin-top: 0.3rem;
      display: flex;
      height: auto;
      line-height: 2px;
      gap: 2vh;
      flex-wrap: wrap;
    }
  
    .historyy {
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
        margin: auto;
        height: 100%;
        overflow: hidden;
        h4 {
          color: white;
          font-size: 10px;
        }
      }
    
      #rightBottom2 {
        display: block;
        height: 100%;
      }
    
      .transactionCard {
        margin-bottom: 0.2rem;
        height: 4vh;
        font-size: 10px;
      }
    
      .transactionCardLeft {
        gap: 0.8vh;
      }
    
      .transactionText {
        text-align: start;
        line-height: 4.5vw;
        p{
            font-size: 3.5vw;
        }
      }


.transferFormContent select{
    width: 39vw;
    height: 8vw;
    border-radius: 0.3rem;
    font-size: 3.5vw;
}
.transferFormContent input{
    width: 39vw;
    height: 8vw;
    padding-left: 0.1rem;
    border-radius: 0.3rem;
   font-size: 3.5vw;
}
.transferFormContent button{
    width: 39vw;
    height: 8vw;
    border-radius: 0.3rem;
    font-size: 3.5vw;
}
.transferFormContent p{
  
    font-size: 3.5vw;

}




    }













/* Your existing CSS code */
@media only screen and (min-width: 1450px) {

   nav{
    width: 97.6%;
   }
   .logoutDiv{
    width: 31.05vh;
    margin-left: 1.3rem;
   }
   .cardBottom{
    margin-top: 3rem;
   }
}

